# Pandas – Lesvoorbeeld 4.

## The Dataframe Data Structure

Dit notebook komt deels van de Coursera cursus 
Introduction to Data Science in Python - week 2
University of Michigan

In [2]:
# importeren van de numpy en pandas bibliotheek; Pandas gebruikt numpy bij verwerkingen
import numpy as np
import pandas as pd

## Multilevel index

Een multilevel index biedt de mogelijkheid om gemakkelijk groepen gegevens uit dataframe structuren te halen.
Het is een manier om gegevens die toch meer dan 2 dimensies hebben toch overzichtelijk te verwerken.

In [3]:
# inlezen van bevolkingsgegevens van de USA
dfcs = pd.read_csv('pandas_census.csv')
dfcs.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [4]:
# SUMLEV is een aanduiding van het telnivau: 40=staatniveau, 50=plaatsniveau
dfcs['SUMLEV'].unique()

array([40, 50])

In [5]:
# alleen de tellingen per plaats verzamelen
dfcs=dfcs[dfcs['SUMLEV'] == 50]
dfcs.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [6]:
# De gegevens bestaat uit 100 kolommen, maar we zijn maar geïnteresseerd in enkele kolommen
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
dfcs = dfcs[columns_to_keep]
dfcs.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [7]:
# nu gaan we een meer-niveau index toevoegen
dfcs = dfcs.set_index(['STNAME', 'CTYNAME'])
dfcs.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [8]:
# Nu kunnen we op de combinatie-index gegevens opvragen
dfcs.loc[('Michigan', 'Washtenaw County')]

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [9]:
# ook nu kunnen we een reeks rijen en daarvan bepaalde kolommen opvragen
dfcs.loc[ [('Michigan', 'Washtenaw County'),('Michigan', 'Wayne County')],['POPESTIMATE2010','POPESTIMATE2015']]

                           POPESTIMATE2010  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           345563           358880
         Wayne County              1815199          1759335

## Krachtige functieverwerking op dataframe rij niveau

In [19]:
# definitie van een python functie die een minimale en maximale waarde van het bevolkingsaantal bepaald
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

In [11]:
# de gedefinieerde functie op elke rij van de dataset uit laten voeren
dfcsmm = dfcs.apply(min_max, axis=1)
dfcsmm.head()

                           min     max
STNAME  CTYNAME
Alabama Autauga County   54660   55347
        Baldwin County  183193  203709
        Barbour County   26489   27341
        Bibb County      22512   22861
        Blount County    57373   57776

In [12]:
# definitie van een functie die 2 kolommen toevoegt aan de oorspronkelijke rijen
def min_max_2(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    row['POPESTIMATEMAX'] = np.max(data)  # extra column
    row['POPESTIMATEMIN'] = np.min(data)  # extra column
    return row
dfcsmm2 = dfcs.apply(min_max_2, axis=1)
dfcsmm2.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015  POPESTIMATEMAX  \
STNAME  CTYNAME
Alabama Autauga County            55290            55347           55347
        Baldwin County           199713           203709          203709
        Barbour County            26815            26489           27341
        Bibb County               22549            22583           22861
        Blount County             57658            57673           57776

                        POPESTIMATEMIN
STNAME  CTYNAME
Alabama Autauga County           54660
        Baldwin County          183193
        Barbour County           26489
        Bibb County              22512
        Blount County            57373

# Group by

Group by biedt krachtige verwerkingen om een grote verzameling gegevens per groep te analyseren. (Dit is een beetje vergelijkbaar met de SQL GROUP BY mogelijkheid)

In [14]:
# Het bepalen van het gemiddeld aantal geboren kinderen per staat van alle steden in de staat
dfcs.groupby('STNAME')['BIRTHS2015'].agg(['mean'])

                             mean
STNAME
Alabama                870.223881
Alaska                 396.482759
Arizona               5825.666667
Arkansas               504.266667
California            8687.051724
Colorado              1047.765625
Connecticut           4528.125000
Delaware              3677.666667
District of Columbia  9593.000000
Florida               3292.955224
Georgia                821.333333
Hawaii                3859.600000
Idaho                  517.068182
Illinois              1533.725490
Indiana                910.826087
Iowa                   398.686869
Kansas                 370.990476
Kentucky               464.091667
Louisiana              992.421875
Maine                  802.312500
Maryland              3031.416667
Massachusetts         5221.714286
Michigan              1379.771084
Minnesota              802.896552
Mississippi            470.097561
Missouri               657.034783
Montana                224.875000
Nebraska               282.322581
Nevada                2119.764706
New Hampshire         1256.200000
New Jersey            4905.047619
New Mexico             796.545455
New York              3852.112903
North Carolina        1206.760000
North Dakota           210.754717
Ohio                  1589.590909
Oklahoma               700.857143
Oregon                1280.305556
Pennsylvania          2118.746269
Rhode Island          2196.800000
South Carolina        1258.804348
South Dakota           187.030303
Tennessee              855.378947
Texas                 1567.275591
Utah                  1776.413793
Vermont                427.214286
Virginia               777.120301
Washington            2276.461538
West Virginia          377.527273
Wisconsin              928.597222
Wyoming                334.565217

In [15]:
dfcs.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [16]:
# Ook meerdere berekeningen kunnen gezamenlijk
dfcs.groupby(level=0)['BIRTHS2015'].agg(['mean','sum','min','max'])
# (Hier wordt de index met behulp van een level aangeduidt: level 0 is 'STNAME')

                             mean     sum   min     max
STNAME
Alabama                870.223881   58305    89    8639
Alaska                 396.482759   11498     8    4796
Arizona               5825.666667   87385   143   55671
Arkansas               504.266667   37820    48    5514
California            8687.051724  503849     4  130070
Colorado              1047.765625   67057     4   10104
Connecticut           4528.125000   36225  1104   10078
Delaware              3677.666667   11033  2196    6585
District of Columbia  9593.000000    9593  9593    9593
Florida               3292.955224  220628    67   31534
Georgia                821.333333  130592    15   13096
Hawaii                3859.600000   19298     0   13789
Idaho                  517.068182   22751     8    5128
Illinois              1533.725490  156440    22   68855
Indiana                910.826087   83796    53   14487
Iowa                   398.686869   39470    53    6951
Kansas                 370.990476   38954    18    7575
Kentucky               464.091667   55691    17   10000
Louisiana              992.421875   63515    65    6140
Maine                  802.312500   12837   137    2951
Maryland              3031.416667   72754   177   13106
Massachusetts         5221.714286   73104   133   17850
Michigan              1379.771084  114521    15   23586
Minnesota              802.896552   69852    32   16891
Mississippi            470.097561   38548    14    3249
Missouri               657.034783   75559    24   11673
Montana                224.875000   12593     2    1992
Nebraska               282.322581   26256     2    8497
Nevada                2119.764706   36036    12   26841
New Hampshire         1256.200000   12562   260    4302
New Jersey            4905.047619  103006   701   10303
New Mexico             796.545455   26286     6    8059
New York              3852.112903  238831    31   41719
North Carolina        1206.760000  120676    40   14320
North Dakota           210.754717   11170    10    2523
Ohio                  1589.590909  139884   125   19099
Oklahoma               700.857143   53966    31   12689
Oregon                1280.305556   46091    10    9627
Pennsylvania          2118.746269  141956    37   22319
Rhode Island          2196.800000   10984   346    7389
South Carolina        1258.804348   57905    59    6309
South Dakota           187.030303   12344    10    2948
Tennessee              855.378947   81261    37   13730
Texas                 1567.275591  398088     0   70499
Utah                  1776.413793   51516    11   18114
Vermont                427.214286    5981    49    1613
Virginia               777.120301  103357    18   14470
Washington            2276.461538   88782    21   25678
West Virginia          377.527273   20764    59    2215
Wisconsin              928.597222   66859    27   13932
Wyoming                334.565217    7695    25    1263

In [17]:
# Kan ook op meerdere kolommmen
(dfcs.groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011'].agg(['mean','sum']))

                     POPESTIMATE2010           POPESTIMATE2011
                                mean       sum            mean       sum
STNAME
Alabama                 71420.313433   4785161    71658.328358   4801108
Alaska                  24621.413793    714021    24921.379310    722720
Arizona                427213.866667   6408208   431248.800000   6468732
Arkansas                38965.253333   2922394    39180.506667   2938538
California             643691.017241  37334079   650000.586207  37700034
Colorado                78878.968750   5048254    79991.875000   5119480
Connecticut            447464.625000   3579717   448719.875000   3589759
Delaware               299930.333333    899791   302638.666667    907916
District of Columbia   605126.000000    605126   620472.000000    620472
Florida                281341.641791  18849890   285157.208955  19105533
Georgia                 61090.905660   9713454    61712.452830   9812280
Hawaii                 272796.000000   1363980   275645.400000   1378227
Idaho                   35704.227273   1570986    36003.045455   1584134
Illinois               125894.598039  12841249   126096.882353  12861882
Indiana                 70549.891304   6490590    70835.271739   6516845
Iowa                    30815.090909   3050694    30963.525253   3065389
Kansas                  27226.895238   2858824    27332.542857   2869917
Kentucky                36232.808333   4347937    36399.016667   4367882
Louisiana               71014.859375   4544951    71490.328125   4575381
Maine                   82980.937500   1327695    83016.062500   1328257
Maryland               241183.708333   5788409   243507.125000   5844171
Massachusetts          468931.142857   6565036   472271.214286   6611797
Michigan               119004.445783   9877369   118995.048193   9876589
Minnesota               61044.862069   5310903    61472.632184   5348119
Mississippi             36223.365854   2970316    36317.060976   2977999
Missouri                52139.582609   5996052    52265.973913   6010587
Montana                 17690.053571    990643    17816.892857    997746
Nebraska                19677.688172   1830025    19810.569892   1842383
Nevada                 159025.882353   2703440   159930.529412   2718819
New Hampshire          131670.800000   1316708   131834.400000   1318344
New Jersey             419232.428571   8803881   421092.095238   8842934
New Mexico              62567.909091   2064741    62976.545455   2078226
New York               312950.322581  19402920   314890.354839  19523202
North Carolina          95589.790000   9558979    96510.250000   9651025
North Dakota            12726.981132    674530    12930.679245    685326
Ohio                   131145.068182  11540766   131198.204545  11545442
Oklahoma                48825.922078   3759596    49176.961039   3786626
Oregon                 106610.333333   3837972   107458.583333   3868509
Pennsylvania           189731.552239  12712014   190226.895522  12745202
Rhode Island           210643.800000   1053219   210371.200000   1051856
South Carolina         100780.304348   4635894   101581.152174   4672733
South Dakota            12368.166667    816299    12489.227273    824289
Tennessee               66911.421053   6356585    67351.663158   6398408
Texas                   99387.255906  25244363   101001.826772  25654464
Utah                    95704.344828   2775426    97118.620690   2816440
Vermont                 44713.142857    625984    44763.357143    626687
Virginia                60344.263158   8025787    60983.330827   8110783
Washington             172898.974359   6743060   174954.589744   6823229
West Virginia           33713.181818   1854225    33726.327273   1854948
Wisconsin               79030.611111   5690204    79301.666667   5709720
Wyoming                 24544.173913    564516    24685.565217    567768

In [18]:
# Nog ingewikkelder: de berekening per kolom verschilt:
(dfcs.groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'POPESTIMATE2010': np.average, 'POPESTIMATE2011': np.sum}))

                      POPESTIMATE2010  POPESTIMATE2011
STNAME
Alabama                  71420.313433          4801108
Alaska                   24621.413793           722720
Arizona                 427213.866667          6468732
Arkansas                 38965.253333          2938538
California              643691.017241         37700034
Colorado                 78878.968750          5119480
Connecticut             447464.625000          3589759
Delaware                299930.333333           907916
District of Columbia    605126.000000           620472
Florida                 281341.641791         19105533
Georgia                  61090.905660          9812280
Hawaii                  272796.000000          1378227
Idaho                    35704.227273          1584134
Illinois                125894.598039         12861882
Indiana                  70549.891304          6516845
Iowa                     30815.090909          3065389
Kansas                   27226.895238          2869917
Kentucky                 36232.808333          4367882
Louisiana                71014.859375          4575381
Maine                    82980.937500          1328257
Maryland                241183.708333          5844171
Massachusetts           468931.142857          6611797
Michigan                119004.445783          9876589
Minnesota                61044.862069          5348119
Mississippi              36223.365854          2977999
Missouri                 52139.582609          6010587
Montana                  17690.053571           997746
Nebraska                 19677.688172          1842383
Nevada                  159025.882353          2718819
New Hampshire           131670.800000          1318344
New Jersey              419232.428571          8842934
New Mexico               62567.909091          2078226
New York                312950.322581         19523202
North Carolina           95589.790000          9651025
North Dakota             12726.981132           685326
Ohio                    131145.068182         11545442
Oklahoma                 48825.922078          3786626
Oregon                  106610.333333          3868509
Pennsylvania            189731.552239         12745202
Rhode Island            210643.800000          1051856
South Carolina          100780.304348          4672733
South Dakota             12368.166667           824289
Tennessee                66911.421053          6398408
Texas                    99387.255906         25654464
Utah                     95704.344828          2816440
Vermont                  44713.142857           626687
Virginia                 60344.263158          8110783
Washington              172898.974359          6823229
West Virginia            33713.181818          1854948
Wisconsin                79030.611111          5709720
Wyoming                  24544.173913           567768

In [ ]:
# Einde